html
    head
        title node.js routing dan templating
        link(rel="stylesheet", href="/css/style.css")

    body
        h1 Belajar Routing dan Templating di NodeJS
        a(href="/profile") Profile
